<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliofy</title>
    <link rel="shortcut icon" href="/misc/logo.png" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <!-- CSS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
</head>
<body>
    <div class="overflow-fix">
        <!-- Header -->
        <header class="header-index d-flex flex-column text-light">
            <!-- Navbar -->
            <nav class="navbar navbar-dark navbar-expand-sm">
                <div class="container-fluid justify-content-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-md-center justify-content-start" id="navbar">
                        <ul class="navbar-nav text-center">
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <a href="/" class="nav-link active text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Home" class="bi bi-house-door mx-auto mb-1" viewBox="0 0 16 16">
                                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                                    </svg>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <a href="/api/books" class="nav-link text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Books" class="bi bi-book-half mx-auto mb-1" viewBox="0 0 16 16">
                                        <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                    </svg>
                                    Books
                                </a>
                            </li>
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <a href="/account" class="nav-link text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Account"  class="bi bi-person-circle mx-auto mb-1" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                    </svg>
                                    Account
                                </a>
                            </li>
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <a href="/contact" class="nav-link text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Contact Us" class="bi bi-chat-heart mx-auto mb-1 " viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2.965 12.695a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2m-.8 3.108.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125ZM8 5.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                    </svg>
                                    Contact Us
                                </a>
                            </li>
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <a href="/donate" class="nav-link d-sm-none text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Help" class="bi bi-question-circle mx-auto mb-1" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                    </svg>
                                    Help
                                </a>
                            </li>
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <a href="/cart" class="nav-link d-sm-none text-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Cart" class="bi bi-cart3 mx-auto mb-1" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                    </svg>
                                    Cart
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <ul class="nav-icons d-sm-flex list-unstyled">
                <li class="nav-item">
                    <a href="/donate" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" aria-label="Help" class="bi bi-question-circle mx-auto mb-1" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                        </svg>
                        Help
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/cart" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            aria-label="Cart" class="bi bi-cart3 mx-auto mb-1" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                        Cart
                    </a>
                </li>
            </ul>
            <!-- Title & Subtitle -->
            <section
                class="d-flex flex-column justify-content-center h-75 mx-md-5 text-md-start text-center ff-primary">
                <h1 class="header-title mt-sm-5 mb-5">Bibliofy</h1>
                <h1 class="header-subtitle my-sm-5">Reading, reimagined</h1>
            </section>
        </header>
        <!-- Content -->
        <main>
            <!-- Features -->
            <section>
                <div class="d-flex justify-content-center align-items-center mt-5" data-aos="fade-up"
                    data-aos-duration="500" data-aos-delay="50" data-aos-easing="ease-in-out">
                    <h1 class="display-1 ff-primary">We Offer</h1>
                </div>
                <div class="row mx-sm-3 mx-auto py-5 my-3 def-border" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="50" data-aos-easing="ease-in-out">
                    <div
                        class="col-sm col-12 p-5 d-flex flex-column justify-content-center align-items-center text-center">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F31%2F61%2Fe1%2F3161e1ebbecb7efcb9bbb2b011ff489d.png&f=1&nofb=1&ipt=f6435c1507ede7a7fd717720064b58f0ba9220a792c40f98d80de0363c0bfb89&ipo=images"
                            alt="Great selection of books" class="bd-placeholder-img" width="140" height="140">
                        <h1>A great selection of books</h1>
                        <p>Discover books from a vast variety of authors</p>
                        <a class="btn btn-dark" href="/api/books">Start browsing »</a>
                    </div>
                    <div
                        class="col-sm col-12 p-5 d-flex flex-column justify-content-center align-items-center text-center">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn4.iconfinder.com%2Fdata%2Ficons%2Fproglyphs-traveling%2F512%2FDelivery-512.png&f=1&nofb=1&ipt=52bb46b472d29fb3d5fb9c69f20466ed8a60391f7d60cff9795a5048916acc47&ipo=images"
                            alt="Free shipping" class="bd-placeholder-img" width="140" height="140">
                        <h1>Free Shipping</h1>
                        <p>Free and fast shipping to any of our pickup points</p>
                        <a class="btn btn-dark" href="/donate">View details »</a>
                    </div>
                    <div
                        class="col-md col-12 p-5 d-flex flex-column justify-content-center align-items-center text-center">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.thenounproject.com%2Fpng%2F44650-200.png&f=1&nofb=1&ipt=f7659cceea2867198fcf74017ad1b9b35e0306cc36fea57084abb83b1157642a&ipo=images"
                            alt="Borrow books" class="bd-placeholder-img" width="140" height="140">
                        <h1>Borrow books without paying</h1>
                        <p>Borrowing books is unlimited with our <a class="link-body-emphasis text-decoration-none" href="/donate"><b>Membership</b></a></p>
                        <a class="btn btn-dark" href="/api/books">Borrow books »</a>
                    </div>
                </div>
            </section>
            <!-- Specials -->
            <section>
                <div class="d-flex justify-content-center align-items-center my-5" data-aos="fade-up"
                    data-aos-duration="1000" data-aos-delay="50">
                    <h1 class="display-1 ff-primary title-border">Specials</h1>
                </div>
                <div class="row mx-auto g-5">
                    <div class="col-12" data-aos="fade-right" data-aos-duration="500" data-aos-delay="50">
                        <div class="row mx-auto flex-md-row-reverse align-items-center">
                            <div class="col-md-4 px-sm-5">
                                <img src=<%= books[0].image %>
                                    class="book-cover mx-auto" alt="Book cover">
                            </div>
                            <div class="col-md-8 p-md-5 p-3 text-md-start text-center">
                                <h1 class="display-4 ff-primary fw-bold text-body-emphasis"><%= books[0].title %></h1>
                                <p class="lead"><%= books[0].description %></p>
                                <div class="d-flex justify-content-md-start justify-content-center">
                                    <a href="/api/book/<%= books[0]._id %>" class="btn btn-dark btn-lg">Find out more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" data-aos="fade-left" data-aos-duration="500" data-aos-delay="50">
                        <div class="row mx-auto align-items-center">
                            <div class="col-md-4 px-sm-5">
                                <img src=<%= books[1].image %>
                                    class="book-cover mx-auto" alt="Book cover">
                            </div>
                            <div class="col-md-8 p-md-5 p-3 text-md-start text-center">
                                <h1 class="display-4 ff-primary fw-bold text-body-emphasis"><%= books[1].title %></h1>
                                <p class="lead"><%= books[1].description %></p>
                                <div class="d-flex justify-content-md-start justify-content-center">
                                    <a href="/api/book/<%= books[1]._id %>" class="btn btn-dark btn-lg">Find out more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" data-aos="fade-right" data-aos-duration="500" data-aos-delay="50">
                        <div class="row mx-auto flex-md-row-reverse align-items-center">
                            <div class="col-md-4 px-sm-5">
                                <img src=<%= books[2].image %>
                                    class="book-cover mx-auto" alt="Book cover">
                            </div>
                            <div class="col-md-8 p-md-5 p-3 text-md-start text-center">
                                <h1 class="display-4 ff-primary fw-bold text-body-emphasis"><%= books[2].title %></h1>
                                <p class="lead"><%= books[2].description %></p>
                                <div class="d-flex justify-content-md-start justify-content-center">
                                    <a href="#/api/book/<%= books[2]._id %>" class="btn btn-dark btn-lg">Find out more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Trending -->
            <section>
                <div class="d-flex justify-content-center align-items-center my-5" data-aos="fade-up"
                    data-aos-duration="500" data-aos-delay="50">
                    <h1 class="display-1 ff-primary title-border">Trending</h1>
                </div>
                <div class="row mx-auto g-5">
                    <div class="col-12" data-aos="fade-left" data-aos-duration="500" data-aos-delay="50">
                        <div class="row mx-auto align-items-center">
                            <div class="col-md-4 px-sm-5">
                                <img src= <%= books[3].image %>
                                    class="book-cover mx-auto" alt="Book cover">
                            </div>
                            <div class="col-md-8 p-md-5 p-3 text-md-start text-center">
                                <h1 class="display-4 ff-primary fw-bold text-body-emphasis"><%= books[3].title %></h1>
                                <p class="lead"><%= books[3].description %></p>
                                <div class="d-flex justify-content-md-start justify-content-center">
                                    <a href="/api/book/<%= books[3]._id %>" class="btn btn-dark btn-lg">Find out more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" data-aos="fade-right" data-aos-duration="500" data-aos-delay="50">
                        <div class="row mx-auto flex-md-row-reverse align-items-center">
                            <div class="col-md-4 px-sm-5">
                                <img src=<%= books[4].image %>
                                    class="book-cover mx-auto" alt="Book cover">
                            </div>
                            <div class="col-md-8 p-md-5 p-3 text-md-start text-center">
                                <h1 class="display-4 ff-primary fw-bold text-body-emphasis"><%= books[4].title %></h1>
                                <p class="lead"><%= books[4].description %></p>
                                <div class="d-flex justify-content-md-start justify-content-center">
                                    <a href="/api/book/<%= books[4]._id %>" class="btn btn-dark btn-lg">Find out more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" data-aos="fade-left" data-aos-duration="500" data-aos-delay="50">
                        <div class="row mx-auto align-items-center">
                            <div class="col-md-4 px-sm-5">
                                <img src=<%= books[5].image %>
                                    class="book-cover mx-auto" alt="Book cover">
                            </div>
                            <div class="col-md-8 p-md-5 p-3 text-md-start text-center">
                                <h1 class="display-4 ff-primary fw-bold text-body-emphasis"><%= books[5].title %></h1>
                                <p class="lead"><%= books[5].description%></p>
                                <div class="d-flex justify-content-md-start justify-content-center">
                                    <a href="/api/book/<%= books[5]._id %>" class="btn btn-dark btn-lg">Find out more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Categories -->
            <section>
                <div class="d-flex justify-content-center align-items-center py-5" data-aos="fade-up"
                    data-aos-duration="500" data-aos-delay="50">
                    <h1 class="title-border ff-primary display-1">Categories</h1>
                </div>
                <div class="row mx-auto g-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="50">
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/art"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fglypho-design%2F64%2Fpaint-brush-colors-artist-512.png&f=1&nofb=1&ipt=432bdec669b98490bc4b059a0564937e8c77a54f585a7cdb1f49350d8bb9ae89&ipo=images"
                                alt="Art / Arhitecture" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Art / Arhitecture</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/fiction"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://www.svgrepo.com/show/323658/wizard-face.svg" alt="Fiction"
                                class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Fiction</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/theatre"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngall.com%2Fwp-content%2Fuploads%2F5%2FDrama-Mask-Theatre-PNG-File.png&f=1&nofb=1&ipt=707b25b7758d1419a318516a9427daeb36dd07589b31b85d208af133ca3eb74e&ipo=images"
                                alt="Theatre / Poetry" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Theatre / Poetry</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/psychology"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://th.bing.com/th/id/R.3da769eec24575bc143ad8fc717d2b12?rik=L%2bUQy2fepuXanw&pid=ImgRaw&r=0"
                                alt="Psychology" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Psychology</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/history"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://pic.onlinewebfonts.com/thumbnails/icons_307392.svg" alt="History"
                                class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">History</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/kids"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipart-library.com%2Fimages%2FkT8odz6Gc.png&f=1&nofb=1&ipt=0eb064e720c4969c0b811967f5affd9b4581ee8583ae7bdd692bc566e28cdae4&ipo=images"
                                alt="Kids" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Kids</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/religion"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdejpknyizje2n.cloudfront.net%2Fsvgcustom%2Fclipart%2Fpreview%2Fcross-1980-13261-550x550.png&f=1&nofb=1&ipt=49c5ec6023f14b56d91075070b585f5633f631455260ef5284e44c187ebbbc36&ipo=images"
                                alt="Religion" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Religion</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/nature"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Fchristmas-tree-silhouette-svg%2Fchristmas-tree-silhouette-svg-19.png&f=1&nofb=1&ipt=82333b80d29c116ad5af14eb00ba19fd62b6f3e95a0e663e4918d8c7942950ef&ipo=images"
                                alt="Nature" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Nature</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/business"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fhuman-resources-line-6%2F64%2F55-512.png&f=1&nofb=1&ipt=9b43233e450bc615217f3652db9ac109502cd560d84c76fd1e46803b3053f5ea&ipo=images"
                                alt="Buisness & Economy" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Buisness & Economy</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/language"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ficon-library.com%2Fimages%2Flanguages-icon%2Flanguages-icon-7.jpg&f=1&nofb=1&ipt=d5166ea8f986ee0a5d68c5cef1f758805eef145f288de91a8115f429dfb146ca&ipo=images"
                                alt="Language" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Language</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books/internet"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fglobe-icon-png-1.png&f=1&nofb=1&ipt=c6f09142b7128ee4ccf21f67bf935c57fae883c8df15119c5c3c7fa59ab4638f&ipo=images"
                                alt="Internet & Computers" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">Internet & Computers</h1>
                        </a>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-sm-6 p-5">
                        <a href="/api/books"
                            class="link-body-emphasis text-decoration-none d-flex flex-column justify-content-center align-items-center text-center">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fsmoothfill-action%2F30%2Faction_028-detail-more-info-others-512.png&f=1&nofb=1&ipt=e68b3f0ad5ccf64cddaa9590574f332735f756277fcab9394d9d8c4451b44601&ipo=images"
                                alt="Other Categories" class="bd-placeholder-img" width="140" height="140">
                            <h1 class="mt-2">All Categories</h1>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Donate Books -->
            <section>
                <div class="d-flex flex-wrap justify-content-evenly align-items-center text-center p-sm-5 p-3 my-5 " data-aos="fade-up" data-aos-duration="500" data-aos-delay="50">
                    <div class="d-flex flex-column align-items-center my-5">
                        <a href="/donate" class="link-body-emphasis text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-gift" viewBox="0 0 16 16" alt="Book card">
                                <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zM1 4v2h6V4zm8 0v2h6V4zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </a>
                        <h1 class="display-1 ff-primary mt-3"><a href="/donate" class="link-body-emphasis text-decoration-none">Donate books !</a></h1>
                    </div>
                    <h2><a href="/donate" class="link-body-emphasis text-decoration-none">Empower Minds, Ignite Knowledge, Fuel Dreams, Transform Futures!</a></h2>
                </div>
            </section>
        </main>
    <!-- Footer -->
    <%- include("partials/footer") -%>
    </div>
    <!-- Scripts -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/scripts/index.js"></script>
</body>
</html>